table {
  height: 100vh;
  background-color: #c5f8fa;
}

td {
  vertical-align: top;
  text-align: center;
}
.card{
  background-color: #fff;
  border: 1px #113435;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}
.card_block{
  display: flex;
  flex-wrap: wrap;
}

h3, h3 code {
  font-size: 20px;
}

.flex {
  display: flex;
  padding: 8px;
  background: rgba(255, 255, 255, 0.4);
}

.container {
  flex: 1;
  min-height: 20vh;
}
.container:not(:last-child) {
  margin-right: 8px;
}

.vamp {
  background: rgba(255, 255, 255, 0.4);
  list-style: none;
  padding: 8px;
  color: #222;
}

.vamp:not(:last-child) {
  border-bottom: 1px solid #777;
}

a:link, a:visited, a:hover, a:active { color: lightblue; }

.add_card{
  /* display:none; */
  opacity: 0;
  transition: all 0.8s ease;
}
.add_card:hover{
  /* display:block; textarea */
  opacity: 1;
  
}